
DATABASE_URL=

ADMIN_JWT_SECRET=
ADMIN_JWT_EXPIRES_IN=

STRIPE_SECRET_KEY=

# Async Throttler setup to read from .env in production
THROTTLE_TTL=60
THROTTLE_LIMIT=100

# CORS configuration - frontend url for development and production
ALLOWED_ORIGIN="http://localhost:3000"

# Used in seed file
FRONT_END_URL="staging.marvalero.com"